html,
body {
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    width: 1280px;
}

/* BACKGROUND CONTAINER */
.background-container.dark-theme {
    background: rgb(75, 75, 75);
    background: radial-gradient(circle, rgba(75, 75, 75, 1) 0%, rgba(0, 0, 0, 1) 63%);
}

.dark-theme .background-line6 {
    background-color: #b6f814;
    border: 2px solid #b6f814;
    box-shadow: -3px 0px 30px 6px rgba(182, 248, 20, 0.7);
    transform: translate(73px, 2px);

}

.dark-theme .background-line7 {
    border-top: 8px double #b6f814;

}

.dark-theme .background-line8 {
    background-color: #b6f814;
    border: 2px solid #b6f814;
    box-shadow: -3px 0px 30px 6px rgba(182, 248, 20, 0.7);
}

.dark-theme .background-line5 {
    border-right: 8px double #b6f814;
}

.dark-theme .background-line2 {
    background-color: #b6f814;
    border: 2px solid #b6f814;
    box-shadow: -3px 5px 30px 6px rgba(182, 248, 20, 0.7);
}

.dark-theme .background-line3 {
    color: #b6f814;
}

.dark-theme .background-line4 {
    background-color: #b6f814;
    border: 2px solid #b6f814;
    box-shadow: -3px 0px 30px 6px rgba(182, 248, 20, 0.7);
    transform: translate(-11px, 27px);
}

.dark-theme .background-line4-1 {
    background-color: #b6f814;
    border: 2px solid #b6f814;
    box-shadow: -3px 0px 30px 6px rgba(182, 248, 20, 0.7);
}

.dark-theme .outer-power-button {
    background-color: #b6f814;
    /* border: 1px solid rgb(144, 144, 144); */
    border: transparent;
}

.dark-theme .inner-power-button {
    border: transparent;
    box-shadow: -3px 0px 30px 10spx rgba(182, 248, 20, 0.7);
    /* box-shadow: 0px 16px 26px 0px rgb(0 0 0), inset -12px 6px 11px -6px rgb(215 215 211);*/
}

.dark-theme .background-line1 {
    background-color: #b6f814;
    border: 2px solid #b6f814;
    box-shadow: -3px 0px 30px 6px rgba(182, 248, 20, 0.7);
}

.dark-theme .background-line1-1 {
    background-color: #b6f814;
    border: 2px solid #b6f814;
    box-shadow: -3px 0px 30px 6px rgba(182, 248, 20, 0.7);
}

/* CONTROL CONTAINER DISTRIBUTION */
.dark-theme .control-container {
    background-image: url(../imagenes/fondo-2.JPG);
    background-size: cover;
    border: transparent;
    box-shadow: 7px 4px 10px 8px rgb(9, 9, 9), inset -4px -12px 29px 11px rgb(9, 9, 9, 0.6);
}

/* CONTROL ITEMS */
/* D-PAD BUTTON */
.dark-theme .dpad-up::before {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(211, 211, 211, 1) 4%, rgba(83, 83, 83, 1) 20%, rgba(0, 0, 0, 1) 40%);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 1);
}

.dark-theme .dpad-up {
    background: rgb(29, 29, 29);
    background: linear-gradient(180deg, rgb(29, 29, 29, 1) 17%, rgba(60, 60, 60, 1) 31%, rgba(83, 83, 83, 1) 41%);
}

.dark-theme .dpad-left::before {

    background: rgb(184, 181, 181);
    background: linear-gradient(180deg, rgba(184, 181, 181, 1) 0%, rgba(83, 83, 83, 1) 8%, rgba(0, 0, 0, 1) 41%);
    box-shadow: -2px 0px 2px 0.8px rgba(0, 0, 0, 1);
}

.dark-theme .dpad-left {
    background: rgb(184, 181, 181);
    background: linear-gradient(180deg, rgba(184, 181, 181, 1) 0%, rgba(83, 83, 83, 1) 8%, rgba(0, 0, 0, 1) 41%);
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.dark-theme .dpad-middle {
    background: rgb(83, 83, 83);
    background: linear-gradient(180deg, rgba(83, 83, 83, 1) 0%, black 41%);
    box-shadow: 2px 28px 7px 5px rgba(0, 0, 0, 0.5);
}

.dark-theme .dpad-right {
    background: rgb(184, 181, 181);
    background: linear-gradient(180deg, rgba(184, 181, 181, 1) 0%, rgba(83, 83, 83, 1) 8%, rgba(0, 0, 0, 1) 41%);
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.dark-theme .dpad-right::before {
    background: rgb(184, 181, 181);
    background: linear-gradient(180deg, rgba(184, 181, 181, 1) 0%, rgba(83, 83, 83, 1) 8%, rgba(0, 0, 0, 1) 41%);
    box-shadow: 2px 0px rgba(0, 0, 0, 0.5);
}

.dark-theme .dpad-down {
    background: black;
}

.dark-theme .dpad-down::before {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, black 26%);
    box-shadow: 0px 0px 0px 0.4px rgba(0, 0, 0, 1);
}

.dark-theme .dpad-empty1 {
    box-shadow: 4px 0 0 0 rgba(83, 83, 83, 1);
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.dark-theme .dpad-empty2 {
    box-shadow: 4px 0 0 0 rgba(83, 83, 83, 1);
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.dark-theme .dpad-empty3 {
    box-shadow: 4px 0 0 0 black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.dark-theme .dpad-empty4 {
    box-shadow: 4px 0 0 0 black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

/* VIEW BUTTON */
.dark-theme .view-button,
.dark-theme .menu-button {
    border: 1px solid black;
    box-shadow: 1px 1px 1px 0.5px rgb(6 5 5);
}

.dark-theme .view-button-icon1,
.dark-theme .view-button-icon2 {
    background-color: rgb(174, 163, 181);
    border: 1px solid rgb(77, 54, 78);
}

.dark-theme .menu-button-icon1,
.dark-theme .menu-button-icon2,
.dark-theme .menu-button-icon3 {
    background-color: rgb(174, 163, 181);
    border: transparent;
    box-shadow: 1px 1px 0px 0.1px rgb(6 5 5);
}

/* STEAM BUTTON */
.dark-theme .steam-button,
.dark-theme .quick-access-button {
    border: 1px solid black;
    box-shadow: 1px 1px 1px 0.5px rgb(6 5 5);
}

.dark-theme .steam-buttom-text {
    color: rgb(174, 163, 181);
    text-shadow: 1px -1px 0px rgba(19, 18, 18, 1);
}

.dark-theme .quick-access-button-icon1,
.dark-theme .quick-access-button-icon2,
.dark-theme .quick-access-button-icon3 {
    background-color: rgb(174, 163, 181);
    border: transparent;
    box-shadow: 1px 1px 1px 0.5px rgb(6 5 5);
}

.dark-theme .outer-circle-l3,
.dark-theme .outer-circle-r3 {
    background: rgb(82, 78, 82);
    background: linear-gradient(176deg, rgba(82, 78, 82, 1) 0%, rgba(27, 26, 26, 1) 34%);
    border: transparent;
    box-shadow: 2px 3px 7px 0.8px rgb(29 27 27);
}

.dark-theme .inner-circle-l1,
.dark-theme .inner-circle-r1 {
    background: rgb(82, 78, 82);
    background: linear-gradient(176deg, rgba(82, 78, 82, 1) 0%, rgba(27, 26, 26, 1) 34%);
    border: transparent;
    box-shadow: 1px 1px 2px 0.8px rgb(102 97 97);
}

.dark-theme .inner-circle-l2,
.dark-theme .inner-circle-r2 {
    background-color: rgb(44, 43, 44);
    border: 0.5px solid rgb(57, 56, 56);
    box-shadow: 0px 2px 5px 0.8px rgb(22, 22, 22);
}

.dark-theme .inner-circle-l3,
.dark-theme .inner-circle-r3 {
    background: rgb(131, 124, 131);
    background: linear-gradient(0deg, rgba(131, 124, 131, 1) 0%, rgba(45, 43, 43, 1) 37%);
    border: 0.5px solid rgb(36, 34, 34);
    box-shadow: inset 0px 2px 5px 0.8px rgb(6 5 5);
}

.dark-theme .abxy-button {
    background: rgb(163, 163, 163);
    background: linear-gradient(180deg, rgba(163, 163, 163, 1) 0%, rgba(107, 107, 107, 1) 14%, rgba(18, 18, 18, 1) 29%, rgba(3, 3, 3, 1) 59%, rgba(64, 63, 63, 1) 92%);
    box-shadow: 1px 2px 4px 0.5px rgb(6 5 5);
    color: rgb(225, 220, 220);
}

.dark-theme .trackpad-button-left,
.dark-theme .trackpad-button-right {
    box-shadow: 0px 3px 5px -1px rgb(8, 8, 8, 0.75);
    border: 2px solid #211e1e;
}

.dark-theme .speaker-button {
    background-color: #1a1717;
    box-shadow: inset 2px 2px 0px -0.5px #000000;
}

.dark-theme,
.inner-square-touchscreen {
    background: rgb(33, 32, 32);
    border: transparent;
}

.dark-theme .outer-square-touchscreen {
    background: rgb(25, 24, 24);
    box-shadow: inset 1px 0px 6px 1.8px rgb(0, 0, 0);
}

.dark-theme .microphone-left,
.dark-theme .microphone-right {
    background: rgb(8, 8, 8);
    border: transparent;
    box-shadow: 0px 2px 3px 1px rgb(6 5 5);
}

.dark-theme .decoration-sup {
    box-shadow: 0px -10px 19px -10px rgb(235, 235, 235, 0.1);
    border: transparent;
}

.dark-theme .decoration-inf {
    box-shadow: -1px 6px 12px -4px rgb(0, 0, 0, 0.4);
    border: transparent;
}

/* DECORATION */
.dark-theme .first-element-console-decoration-left {
    /* border-top: 4px solid rgb(37 37 37);
    border-right: 4px solid rgb(37 37 37); */
    box-shadow: 2px -3px 4px -1px rgb(9, 9, 9), inset -7px -2px 6px -7px;
}

.dark-theme .first-element-console-decoration-right {
    /* border-top: 4px solid rgb(37 37 37);
    border-left: 4px solid rgb(37 37 37); */
    box-shadow: -3px -3px 4px -2px rgb(9, 9, 9), inset 10px 5px 3px -10px;
}

.dark-theme .second-element-console-decoration-left::after {
    /* border-left: 4px solid rgb(37 37 37); */
    box-shadow: -1px 0px 1px 0px rgb(9, 9, 9), inset 11px 1px 5px -11px;
}

.dark-theme .thirdth-element-console-decoration-left {
    /* border-left: 4px solid rgb(37 37 37); */
    box-shadow: -4px 0px 4px -3px rgb(9, 9, 9), inset 2px 0px 5px -4px;
}

.dark-theme .fourth-element-console-decoration-left {
    /* border-right: 4px solid rgb(37 37 37); */
    box-shadow: 1px 2px 1px 0px rgb(9, 9, 9), inset -8px -5px 6px -7px;
}

.dark-theme .second-element-console-decoration-right::after {
    /* border-right: 4px solid rgb(37 37 37); */
    box-shadow: 2px 1px 2px -1px rgb(9, 9, 9), inset -9px -2px 5px -9px;
}

.dark-theme .thirdth-element-console-decoration-right {
    /* border-left: 4px solid rgb(37 37 37); */
    box-shadow: -4px 0px 5px -3px rgb(9, 9, 9), inset 11px -2px 6px -11px;
}

.dark-theme .fourth-element-console-decoration-right {
    /* border-left: 4px solid rgb(37 37 37); */
    box-shadow: -3px 1px 5px -1px rgb(9, 9, 9), inset 21px 0px 7px -20px;
}