    html,
    body {
        font-size: 16px;
        margin: 0;
    }

    .control-container {

        border: 1.5px solid black;
        border-radius: 50px 50px 90px 90px;
        height: 380px;
        width: 960px;
    }

    /* ABXY BUTTON */
    .abxy-container {
        border: 1px solid #333333;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: rotate(45deg);
        width: 100px;
    }

    .abxy-button {
        background-color: #ffffff;
        border: 1px solid #333333;
        border-radius: 50%;
        height: 100%;
        width: 45%;

    }

    .abxy-row {
        display: flex;
        height: 45%;
        justify-content: space-between;
        width: 100%;
    }