    html,
    body {
        font-size: 16px;
        margin: 0;
        width: 1280px;
    }

    /* BACKGROUND CONTAINER */
    .background-container {
        border: 1px double black;
        bottom: 0px;
        display: flex;
        height: 700px;
        left: 0px;
        margin: auto auto;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 1400px;
    }

    /* BACKGROUND CONTAINER LEFT */
    .background-container-left {
        border: 1px double black;
        height: 100%;
        width: 15%;
    }

    .background-lines-left,
    .background-lines-right {}

    .background-line1 {}

    .background-line2 {}

    .background-line3 {}

    /* BACKGROUND CONTAINER MIDDLE */
    .background-container-middle {
        align-items: center;
        border: 1px double black;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 70%;
    }

    /* CONTROL CONTAINER DISTRIBUTION */
    .control-container {
        border: 1.5px solid black;
        border-radius: 50px 50px 90px 90px;
        display: flex;
        height: 55%;
        width: 100%;
    }

    .control-container-left,
    .control-container-right {
        border: 1px solid black;
        height: 100%;
        width: 20%;
    }

    .control-container-middle {
        border: 1px solid black;
        height: 100%;
        width: 60%;
    }

    /*CONTROL CONTAINER LEFT/RIGTH SIDE*/
    /*TOP */
    .control-container-left-top,
    .control-container-right-top {
        border: 1px solid rgb(200, 39, 39);
        display: flex;
        height: 30%;
        width: 100%;
    }

    .control-container-left-top-left,
    .control-container-right-top-right {
        align-items: center;
        border: 1px solid rgb(88, 144, 25);
        display: flex;
        height: 100%;
        justify-content: center;
        width: 50%;
    }

    .control-container-left-top-right,
    .control-container-right-top-left {
        border: 1px solid rgb(228, 10, 10);
        height: 100%;
        width: 50%;
    }

    .control-container-left-top-right-top,
    .control-container-right-top-left-top {
        align-items: flex-end;
        border: 1px solid black;
        display: flex;
        height: 20%;
        justify-content: flex-start;
        width: 100%;
    }

    .control-container-right-top-left-top {
        justify-content: flex-end;
    }

    .control-container-left-top-right-down,
    .control-container-right-top-left-down {
        align-items: center;
        border: 1px solid rgb(146, 47, 47);
        display: flex;
        height: 90%;
        justify-content: center;
        width: 100%;
    }

    /*BOTTOM */
    .control-container-left-down,
    .control-container-right-down {
        border: 3px solid rgb(0, 0, 0);
        display: flex;
        height: 70%;
        width: 100%;
    }

    .control-container-left-down-left,
    .control-container-right-down-right {
        border: 1px solid rgb(146, 47, 47);
        height: 100%;
        width: 40%;
    }

    .control-container-left-down-right,
    .control-container-right-down-left {
        border: 2px solid rgb(23, 169, 18);
        height: 95%;
        padding-top: 6%;
        width: 60%;
    }

    .control-container-right-down-left {
        padding-left: 2%;
    }

    .trackpad-container-left,
    .trackpad-container-right {
        height: 45%;
        width: 95%;
    }

    .steam-container,
    .quick-access-container {
        height: 15%;
        width: 95%;
    }

    .speaker-container-left,
    .speaker-container-right {
        height: 20%;
        width: 95%;
    }

    .trackpad-container-left,
    .steam-container,
    .speaker-container-left {
        align-items: center;
        border: 2px solid rgb(23, 169, 18);
        display: flex;
        justify-content: flex-end;
    }

    .trackpad-container-right,
    .quick-access-container,
    .speaker-container-right {
        align-items: center;
        border: 2px solid rgb(23, 169, 18);
        display: flex;
        justify-content: flex-start;
    }

    /* CONTROL CONTAINER MIDDLE SIDE */
    .microphones {
        align-items: flex-end;
        border: 2px solid rgb(23, 169, 18);
        display: flex;
        height: 4%;
        justify-content: space-around;
        width: 100%;
    }

    .touchscreen {
        align-items: top;
        border: 2px solid rgb(23, 169, 18);
        display: flex;
        height: 96%;
        justify-content: center;
        width: 100%;
    }

    /* CONTROL ITEMS */

    /* D-PAD BUTTON */
    .dpad-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 75px;
        width: 75px;
    }

    .dpad-container>* {
        box-sizing: border-box;
    }

    .dpa-button {
        height: 33%;
        width: 33%;
    }

    .dpad-right,
    .dpad-up,
    .dpad-left,
    .dpad-down,
    .dpad-middle {
        position: relative;
    }


    .dpad-right::before,
    .dpad-up::before,
    .dpad-left::before,
    .dpad-down::before {
        box-sizing: border-box;
        content: "";
        position: absolute;
        border: 1px solid black;
    }

    .dpad-up {
        height: 100%;
        width: 100%;
    }

    .dpad-up::before {
        top: -36%;
        left: -1px;
        width: calc(100% + 2px);
        height: 46%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom: transparent;
    }

    .dpad-right {
        height: 100%;
        width: 100%;
    }

    .dpad-right::before {
        right: -19%;
        top: -1px;
        width: 45%;
        height: calc(100% + 2px);
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-left: transparent;
    }

    .dpad-down {
        height: 100%;
        width: 100%;
    }

    .dpad-down::before {
        right: -1px;
        top: 77%;
        width: calc(100% + 2px);
        height: 45%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top: transparent;
    }

    .dpad-left {
        height: 100%;
        width: 100%;
    }

    .dpad-left::before {
        right: 73%;
        top: -1px;
        width: 45%;
        height: calc(100% + 2px);
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        border-right: transparent;

    }

    .dpad-empty1,
    .dpad-empty2,
    .dpad-empty3,
    .dpad-empty4 {
        background-color: transparent;
        border: 1px solid black;
        border-left: transparent;
        border-top: transparent;
    }


    .dpad-empty1 {
        border-bottom-right-radius: 25%;

    }

    .dpad-empty2 {
        border-bottom-right-radius: 25%;
        transform: rotate(90deg);
    }

    .dpad-empty3 {
        border-bottom-right-radius: 25%;
        transform: rotate(-90deg);
    }

    .dpad-empty4 {
        border-bottom-right-radius: 25%;
        transform: rotate(180deg);
    }

    /* VIEW/MENU/STEAM/ QUICK ACCESS BUTTON */
    .view-button {
        border: 1px solid #000000;
        border-radius: 100px;
        background-color: transparent;
        width: 22%;
        height: 44%;
    }

    .steam-button,
    .quick-access-button {
        border: 1px solid #000000;
        border-radius: 100px;
        background-color: transparent;
        width: 43%;
        height: 50%;
    }

    .menu-button {
        border: 1px solid #000000;
        border-radius: 100px;
        background-color: transparent;
        width: 22%;
        height: 44%;
    }

    /* THUMBSTICK BUTTON L3/R3*/
    .outer-circle-l3,
    .outer-circle-r3 {
        width: 90%;
        height: 80%;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inner-circle-1 {
        width: 70%;
        height: 70%;
        border-radius: 50%;
        border: 1px solid black;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inner-circle-2 {
        width: 70%;
        height: 70%;
        border-radius: 50%;
        border: 1px solid black;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* ABXY BUTTON */
    .abxy-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10%;
        height: 62%;
        transform: rotate(45deg);
        width: 75%;
    }

    .abxy-button {
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid black;
        padding-top: 10px;
    }

    /* CONTROL DECORATIONS */
    .first-element-container-decoration-left {
        border: 1px solid black;
        display: flex;
        height: 35%;
        width: 100%;
    }

    .first-element-console-decoration-left {
        height: 95px;
        border: transparent;
        border-right: 2px solid black;
        border-top: 2px solid black;
        border-top-right-radius: 27px;
        width: 58px;
    }

    .second-element-container-decoration-left {
        border: 1px solid black;
        height: 55%;
        width: 100%;
    }

    .second-element-console-decoration-left {
        height: 173px;
        border-left: 2px solid black;
        border-top-left-radius: 30%;
        transform: rotate(336deg) translate(86px, 21px);
        width: 21px;
    }

    .thirdth-element-container-decoration-left {
        border: 1px solid black;
        height: 10%;
        width: 100%;
    }

    .thirdth-element-console-decoration-left {
        height: 14px;
        border: transparent;
        border-right: 2px solid black;
        border-top-right-radius: 46%;
        transform: translate(110px, -1px);
        width: 13px;
    }

    /* TRACKPAD BUTTON */
    .trackpad-button-left,
    .trackpad-button-right {
        border: 1px solid #000000;
        border-radius: 15%;
        background-color: transparent;
        height: 95%;
        width: 95%;
    }

    /* SPEAKER RIGHT*/
    .speaker-grid-left,
    .speaker-grid-right {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 2fr);
        height: 52%;
        width: 52%;
    }

    .speaker-button {
        border: 1px solid black;
        height: 33%;
        width: 25%;
    }

    .speaker1,
    .speaker2,
    .speaker3,
    .speaker4 {
        border-radius: 100px;
        height: 45%;
        width: 80%;
    }

    .speaker6,
    .speaker5 {
        border-radius: 100px;
        height: 45%;
        width: 80%;
    }

    .speaker8,
    .speaker9 {
        border: transparent;
    }

    .speaker7 {
        border-radius: 100px;
        height: 45%;
        width: 140%;
    }

    .speaker5,
    .speaker6,
    .speaker7 {
        transform: translatex(29%);
    }

    .speaker12,
    .speaker10,
    .speaker11 {
        height: 45%;
        width: 80%;
        border-radius: 100px;
    }

    .speaker-grid-right {
        transform: scaleX(-1);

        /* TOUCHSCREEN*/
        .outer-square-touchscreen {
            border-radius: 1%;
            height: 94%;
            width: 99%;
        }

        .inner-square-touchscreen {
            height: 92%;
            width: 90%;
        }

        .inner-square-touchscreen,
        .outer-square-touchscreen {
            align-items: center;
            background-color: transparent;
            border: 1px solid black;
            display: flex;
            justify-content: center;
        }

        /* MICROPHONES*/
        .microphone-left,
        .microphone-right {
            border: 1px solid black;
            border-radius: 50% 50% 0 0;
            height: 13%;
            width: 2%;
        }
















        /* BACKGROUND CONTAINER RIGHT */
        .background-container-right {
            border: 3px double black;
            height: 100%;
            width: 15%;
        }

        .power-button {
            height: 15%;
            width: 7.5%;
            border-radius: 50%;
            border: 1px solid black;

        }

        .background-line4 {}

        .background-line5 {}

        .background-line6 {}